<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Course Form</title>
</head>

<body>

<h1>Course Form</h1>

<form th:action="@{/admin/save}" method="post" th:object="${course}">

    <input type="hidden" th:field="*{id}">

    Name:
    <input type="text" th:field="*{name}">
    <br>

    Credits:
    <input type="number" th:field="*{credits}">
    <br>

    Lecturer:
    <input type="text" th:field="*{lecturer}">
    <br>

    Image:
    <input type="text" th:field="*{image}">
    <br>

    <button type="submit">Save</button>

</form>

</body>
</html>