<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2>Khóa học tôi đã đăng ký</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Course ID</th>
            <th>Ngày đăng ký</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="e : ${enrollments}">
            <td th:text="${e.courseId}"></td>
            <td th:text="${e.enrollDate}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/home" class="btn btn-primary">Quay lại</a>
</div>